---
import Layout from "@layouts/LinksLayout.astro";
import { Button } from "@components/ui/button";
---

<Layout>
  <div class="container flex flex-col max-w-md mx-auto bg-slate-100">
    <h1 class="text-3xl text-slate-950 text-center">CONSENT Link Depository</h1>
    <div class="links flex flex-col gap-5">
      <Button>HELLOW</Button>
    </div>
  </div>
</Layout>
