---
import Layout from "@layouts/LinksLayout.astro";
import Header from "@components/LinksHeader.astro";
import Footer from "@components/LinksFooter.astro";
import SocialLinks from "@components/SocialLinks/SocialLinks.astro";
import StoicQuote from "@components/StoicQuote.astro";
import HeaderQuote from "@components/HeaderQuote.astro";
import SocialIcons from "@components/SocialIcons.astro";
import type { SocialLink } from "../types";

const socialLinks: SocialLink[] = [
  {
    platform: "instagram",
    username: "antithetic",
    url: "https://instagram.com/antithetic",
    active: true,
  },
  {
    platform: "soundcloud",
    username: "cholofetish",
    url: "https://soundcloud.com/cholofetish",
    active: true,
  },

  {
    platform: "ra",
    username: "filoso",
    url: "https://ra.co/dj/filoso",
    label: "Resident Advisor",
    active: true,
  },
  {
    platform: "mixcloud",
    username: "attacks",
    url: "https://www.mixcloud.com/attacks",
    active: true,
  },
  {
    platform: "threads",
    username: "antithetic",
    url: "https://threads.net/@antithetic",
    active: true,
  },
  {
    platform: "twitter",
    username: "attacks",
    url: "https://twitter.com/attacks",
    active: true,
  },
  // Custom styled link
  {
    platform: "instagram",
    username: "djusername",
    url: "https://instagram.com/djusername",
    customStyle: {
      background:
        "linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888)",
      textColor: "white",
      borderColor: "#dc2743",
    },
    bgPattern: {
      type: "dots",
      color: "#ffffff",
      opacity: "0.5",
    },
    active: true,
  },
  // Fully custom link
  {
    platform: "custom",
    username: "custom",
    url: "https://acid.fit",
    label: "Acid Varsity",
    icon: "🌐",
    customStyle: {
      background: "#2a2a2a",
      textColor: "#FFFFFF",
      shadow: "4px 4px 0px 0px rgba(74,74,74,1)",
    },
    bgPattern: {
      type: "noise",
      color: "#ffffff",
      opacity: "0.05",
    },
    active: true,
  },
];
---

<Layout>
  <div class="container flex flex-col max-w-md mx-auto mt-5 pt-10">
    <Header />
    <HeaderQuote> Queer. Punk. Acid. Sweat.</HeaderQuote>
    <SocialIcons />
    <main class="SocialLinks flex flex-col gap-5 my-5 mx-5">
      <SocialLinks links={socialLinks} />
    </main>
    <StoicQuote />
    <Footer />
  </div>
</Layout>

<style>
  body {
    background-color: #a6f257;
  }
  .container {
    --mask: radial-gradient(14.14px at 50% 20px, #000 99%, #0000 101%)
        calc(50% - 20px) 0/40px 100%,
      radial-gradient(14.14px at 50% -10px, #0000 99%, #000 101%) 50% 10px/40px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
</style>
