---
// Supports weights 100-400
import "@fontsource-variable/playwrite-de-sas";
---

<div class="HeaderQuote">
  <p><slot /></p>
</div>
<style>
  .HeaderQuote {
    font-family: "Playwrite DE SAS Variable", cursive;
    @apply flex justify-center text-lg italic mt-0 mb-2;
  }
</style>
