---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { ariaHidden = true } = Astro.props;
---

<div class="mx-auto px-5">
  <hr class="border-solid border-gray-300" aria-hidden={ariaHidden} />
</div>
