---
const currentYear = new Date().getFullYear();
---

<footer class="LinksFooter flex flex-col justify-center mb-5 gap-3">
  <div class="copyright flex justify-center">
    <span>Copyright &#169; {currentYear}</span>
  </div>
</footer>
