---
import { Icon } from "astro-icon/components";
import { LinkIcon } from "@components/ui/linkIcon";
import { Badge } from "@components/ui/badge";
---

<div class="flex justify-center gap-3 mt-0">
  <Icon name="soundcloud" size="36" />
  <LinkIcon />
</div>
